### This is going to contain all the notes for python syntax I run into

How to get the length of a string

In [3]:
s = "Hello"
print(len(s))

5

Get or Default

In [4]:
count = {}
count["Mangos"] = count.get("Mangos", 0) + 1
count["Mangos"]

1

Template Strings

In [5]:
name = "Rayhan"

s += f" {name} nice to meet you!"
s

'Hello Rayhan nice to meet you!'

Subtrings

In [6]:
s[6:]

'Rayhan nice to meet you!'

Loop through list and get index

In [7]:
fruits = ["Apple", "Strawberry", "Bannana"]

for i, fruit in enumerate(fruits):
    print(i, fruit)

0 Apple
1 Strawberry
2 Bannana

Add item to a list

In [8]:
fruits.append("Grapefruit")
fruits

['Apple', 'Strawberry', 'Bannana', 'Grapefruit']

Turn string to integer

In [9]:
number = "100"
int(number)

100

Make an array with a certain value x times

In [10]:
x = 10
grades = ["A"] * x
grades

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

How to loop backwards

In [11]:
for i in range(10 - 1, -1 , -1):
    print(i)

9
8
7
6
5
4
3
2
1
0

How to do integer division

In [12]:
y = 3
print(x / y)
print(x // y)

3.3333333333333335
3

How to create a dictionary of sets

In [13]:
import collections


setdict = collections.defaultdict(set)

setdict["Cars"].add("Ford")
setdict["Cars"].add("Honda")
setdict["Cars"].add("Toyota")

print(setdict["Cars"])

{'Honda', 'Ford', 'Toyota'}

Create set from list

In [14]:
grades_set = set(grades)
grades_set

{'A'}

Loops through set

In [15]:
for grade in grades_set:
    print(grade)

A

Get largest of two values

In [16]:
max(10, 15)

15

Get first value in a Set

In [17]:
grades_set.add("B")
starting_grade = next(iter(grades_set)) #O(1)
starting_grade

'A'

How to reverse a string

In [18]:
mystr = "Hello"
mystr[::-1]

'olleH'

How to make lowercase

In [19]:
"J".lower()

'j'

How to check if  a char is alphanumeric

In [20]:
"%".isalnum()

False

Covert string to list (Side note strings in python are imutible)

In [21]:
list("Hello World")

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']